*{
	margin: 0px;
	padding: 0px;
	color: gray;
}


body{
	background-image: url(bgbody.jpg);
}
/*header section start here*/
.head{
	width: 100%;
	height: 120px;
	background-image: url(bgheader.jpg);
	display: flex;
}
#logo{
	flex: 1;
	padding-top: 30px;
}
#logo img{
	padding-left: 205px;
}
#menu{
	flex: 1;
}
.menuimg img{
	padding-left: 37%;
}
.menuitem ul{
	display: flex;
	padding-top: 10px;
	padding-left: 10px;
}
.menuitem > ul > li{
	flex: 1;
	list-style-type: none;
	padding-left: 5px;
	color: white !important;
	font-weight: bold;
	justify-content: space-evenly;
}
.menuitem>ul>li a{
	text-decoration: none;
	color: white;
}
.menuitem>ul>li a:hover{
	color: yellow;
}
/*header section end here*/

/*block section start here*/

.block{
	display: flex;
	margin-left: 200px;
	margin-right: 200px;
	padding-top: 35px;
	padding-bottom: 250px;
}
.block1{
	flex: 1;
	margin-right: 15px;
}
.block1 h3{
	padding-bottom: 20px;
	color: black;
	font-weight: normal;
}
.bg{
	background-color: lightgray;
	padding-top: 25px;
	padding-left: 13px;
	padding-bottom: 18px;
}
.bg h4{
	color: black;
	font-weight: lighter;
}
.bg p{
	padding-top: 8px;
}
.block2{
	flex: 4;
}
.block2 h3{
	padding-bottom: 20px;
	color: black;
	font-weight: normal;
}
.block2 p{
	line-height: 23px;
	padding-bottom: 10px;
}
/*table th td{
	border: 1px solid black;
	cellspacing: 15px;
}*/

td{
	padding: 8px 8px 8px 5px;
}
/*input[type=text]{
	/*border: 1px sold gray;
	border-color: gray;
	box-sizing: border-box;
}*/
input[type=submit]{
	background-color: yellowgreen;
	border: 4px solid wheat;
	border-radius: 5px;
	padding: 5px 25px;
	color: white;
}
span.red{
	color: saddlebrown;
}
/*block section end here*/

/*Footer section start here*/

footer{
	background-image: url(bgfooter.jpg);
}
.foot{
	display: flex;
	padding-top: 35px;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 35px;
}
.foot1{
	flex: 1;
	/*border: 1px solid green;*/
}
#space{
	padding-left: 15px;
}
.foot2{
	flex: 2;
	/*border: 1px solid yellow;*/
}
.foot3{
	flex: 1;
	/*border: 1px solid red;*/
	padding-left: 25px;
}

/*Footer section end here*/

/*LFOOT section start here*/
.lfoot{
	display: flex;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 10px;
}
.lfoot1{
	flex: 1;
	/*border: 1px solid yellow;*/
}
.lfoot1 ul{
	list-style-type: none;
	display: flex;
}
.lfoot1 ul li{
	flex: 1;
}
.lfoot2{
	flex: 1;
	/*border: 1px solid red;*/
}
/*LFOOT section end here*/

.line{
	margin-left: 38px;
}